{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="contents">
  <img src="{% static '2.PNG' %}" alt="">
  <img src="{% static '2.PNG' %}" alt="">
  <img src="{% static '2.PNG' %}" alt="">
  <img src="{% static '2.PNG' %}" alt="">
  <img src="{% static '2.PNG' %}" alt="">
  <img src="{% static '2.PNG' %}" alt="">
  <img src="{% static '2.PNG' %}" alt="">
  <img src="{% static '2.PNG' %}" alt="">
  <img src="{% static '2.PNG' %}" alt="">
  <img src="{% static '2.PNG' %}" alt="">
  <img src="{% static '2.PNG' %}" alt="">
</div>
{% endblock %}