{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="contents">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
  <img src="{% static '1.PNG' %}" alt="">
</div>

{% endblock %}