* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

label{
  display: none;
}

/* header */
header {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 0 1%;
  justify-content: space-between;
}

header > div {
  align-self: center;
  
}

header ul li {
  display: inline-flex;
  margin: 10px;
}


/* content */
.content {
  padding-top: 50px;
  display: flex;
  height: 100vh;
}

/* openSide */
#openSide {
  float: left;
}

#openSide > ul > li {
  text-align: center;
  padding: 10px;
}
#openSide > ul > li:hover{
  background-color: rgb(114, 122, 124);
}

#openSide > ul > li > a {
  width: 50px;
  display: flex;
  flex-direction: column;
}

/* closeSide */
#closeSide {
  overflow-y: scroll;
  float: left;
  width: 220px;
}

#closeSide > ul > li {
  padding: 10px;
}

#closeSide > ul > li > a > i{
  margin-right: 15px;
}

#closeSide > ul > li:hover{
  background-color: rgb(114, 122, 124);
}

#video {
  clear: both;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}