:root {
  --grey-light-color: #e0e0e0;

  --bs-padding: 10px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

li {
  list-style: none;
}

a:checked {
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

label{
  display: none;
}

/* header */
header {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: burlywood;
}

header ul li {
  display: inline-block;
}

/* simpleSide */
#simpleSide {
  float: left;
  height: 100vh;
  margin-top: 60px;
}

#simpleSide > ul > li {
  text-align: center;
  padding: 10px;
}

#simpleSide > ul > li:hover{
  background-color: var(--grey-light-color);
}

#simpleSide > ul > li > a {
  width: 50px;
  display: flex;
  flex-direction: column;
}

/* wideSide */
#wideSide {
  overflow-y: hidden;
  float: left;
  height: 100vh;
  margin-top: 60px;
  min-width: 220px;
}

#wideSide:hover {
  overflow-y: scroll;
}
#wideSide > ul > li {
  padding: 10px 20px;
}

#wideSide > ul > li > a > i{
  margin-right: 15px;
}

#wideSide > ul > li:hover{
  background-color: var(--grey-light-color);
  cursor: pointer;
}

#videos {
  display: grid;
  height: 100vh;
  padding-top: 60px;
  background-color: darkgoldenrod;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  overflow-y: scroll;
}

@media screen and (min-width: 1320px) { 
  #simpleSide {
    display: none;
  }
}

@media screen and (min-width: 800px) and (max-width: 1320px) {
  #wideSide{
    display: none
  }
}

@media screen and (max-width: 800px) {
  #simpleSide {
    display: none;
  }
  #wideSide{
    display: none
  }
}



