i {
  font-size: large;
  color: #555;
  padding: 5px;
  align-self: center;
}

i:hover {
  cursor: pointer;
}
#youtubeLogo {
  color: red;
}

#logoName {
  font-size: large;
}

/* 화면작아지면 사라지게 하기 */
#searchbox {
  width: 35vw;
  font-size: large;
}

#search > ul > li:first-child > i{
  background-color: darkgray;
  border: 1px solid #555;
}