  {% extends 'base.html' %}
  {% load static %}
  {% block content %}
<div class="contents list detail">
    <h1>Video Detail</h1>
  <div id="player"></div>
</div>
</body>
<script>
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
          videoId: '{{ video.get_only_key }}'
      });
  }
</script>
{% endblock %}