* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs: 10px;
  --lg: 20px;
  --light_grey: rgba(211, 206, 206, 0.5);
  --grey: rgba(158, 155, 155, 0.5);
  --dark_grey: rgba(80, 77, 77, 0.9);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

i {
  font-size: x-large;
  vertical-align: middle;
  color: #000;
  padding: 5px 10px;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

#simpleSide ul li:hover,
#wideSide ul li:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.wrap {
  background-color: #f9f9f9;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

/* ---------------header--------------- */
header {
  display: flex;
  gap: 0 10px;
  justify-content: space-between;
  padding: var(--bs) var(--lg);
  margin: 0 5px 0 -10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  z-index: 10;
}

header ul {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

header ul li.logo a {
  display: inline-block;
  padding-left: var(--bs);
}

header ul li.logo a i {
  padding-right: 2px;
  color: red;
  font-size: xx-large;
}

header ul li.logo a span {
  font-weight: bold;
  font-size: x-large;
  vertical-align: sub;
}

header ul li.logo a sup {
  color: var(--dark_grey);
  font-size: x-small;
}

header .search {
  max-width: 700px;
  flex: 1;
}

header .search li:first-child {
  display: flex;
  border: 1px solid var(--grey);
  border-radius: 3px;
  width: 100%;
  flex: 1 0;
}

header .search input {
  font-size: large;
  border: none;
  box-shadow: 1px -1px 2px var(--light_grey);
  border-radius: 5px 0 0 5px;
  padding-left: var(--bs);
  width: 100%;
}

header .search li:first-child button {
  background: #e9e9e9;
  padding: 0 var(--bs);
  border-left: 1px solid var(--grey);
}

header button:active {
  background: var(--light_grey);
  border-radius: 100%;
}

header .search li:first-child button:active {
  background: var(--grey);
  border-radius: 0;
}

#logout {
  display: block;
}

#logout img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  vertical-align: middle;
}

/* ---------------simpleSide--------------- */
#simpleSide {
  background-color: #fff;
  display: none;
  padding-top: 55px;
}

#simpleSide.open {
  display: block;
}

#simpleSide ul li {
  padding: var(--bs) var(--bs);
}

#simpleSide ul li a {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#simpleSide ul li a span {
  font-size: small;
  color: var(--dark_grey);
}

/* ---------------wideSide--------------- */
#wideSide {
  display: none;
  background-color: #fff;
  overflow-y: hidden;
  padding-top: 55px;
  min-width: 230px;
}

#wideSide.open {
  display: block;
}

#wideSide ul {
  border-bottom: 1px solid var(--grey);
  margin-right: var(--bs);
}

#wideSide ul li a {
  display: block;
  padding: var(--bs) var(--bs);
}

#wideSide ul li a span {
  padding-left: var(--bs);
  vertical-align: middle;
}

#wideSide p {
  padding-left: 30px;
}

#wideSide:hover {
  overflow-y: scroll;
}

/* ---------------contents---------------*/
.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 55px;
  overflow: scroll;
  margin: var(--lg);
  margin-right: 0;
}

.contents img,
.contents iframe {
  margin: var(--bs);
  flex: 1 2 40px;
}

.contents.list {
  display: block;
  width: 40%;
}

.contents.list .btn-default {
  float: right;
  padding: 10px 15px;
  background: darkcyan;
  border-radius: 3px;
}

.contents.list a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 748px) {
  #simpleSide.open {
    display: none;
  }
  .contents {
    margin: 0;
  }
}

@media screen and (min-width: 749px) and (max-width: 1024px) {
  #simpleSide {
    display: block;
  }
  #simpleSide.open {
    display: none;
  }
  #wideSide {
    display: none;
  }
  #wideSide.open {
    display: block;
  }
}

@media screen and (min-width: 1025px) {
  #simpleSide {
    display: none;
  }
  #wideSide {
    display: block;
  }
  #wideSide.open {
    display: none;
  }
}
