* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs: 10px;
  --lg: 20px;
  --light_grey: rgba(211, 206, 206, 0.5);
  --grey: rgba(158, 155, 155, 0.5);
  --dark_grey: rgba(80, 77, 77, 0.9);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

i {
  font-size: large;
  vertical-align: middle;
  color: var(--dark_grey);
  padding: 5px 10px;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

#simpleSide ul li:hover,
#wideSide ul li:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.wrap {
  background-color: var(--light_grey);
  height: 100vh;
}

/* ---------------header--------------- */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--bs) var(--lg);
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid var(--grey);
}

header ul {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

header ul li.logo a {
  display: inline-block;
  padding-left: var(--bs);
}

header ul li.logo a i {
  padding-right: 2px;
  color: red;
  font-size: x-large;
}

header ul li.logo a span {
  font-weight: bold;
}

header .search {
  flex-grow: 0.6;
  flex-shrink: 1;
}

header .search li:first-child {
  display: flex;
  border: 1px solid var(--grey);
  border-radius: 3px;
  width: 100%;
  flex: 1 0;
}

header .search input {
  font-size: large;
  border: none;
  box-shadow: 1px -1px 2px var(--light_grey);
  border-radius: 5px 0 0 5px;
  padding-left: var(--bs);
  width: 100%;
}

header .search li:first-child button {
  border-top: 1px solid var(--light_grey);
  background: var(--light_grey);
  padding: 0 var(--bs);
  border-left: 1px solid var(--grey);
}

header button:active {
  background: var(--light_grey);
  border-radius: 60%;
}

header .search li:first-child button:active {
  background: var(--grey);
  border-radius: 0;
}

/* ---------------simpleSide--------------- */
#simpleSide {
  background-color: #fff;
  height: 100vh;
  position: fixed;
  left: 0;
  display: none;
  float: left;
  padding-top: 5px;
}

#simpleSide.open {
  display: block;
}

#simpleSide ul li {
  padding: var(--bs) var(--lg);
}

#simpleSide ul li a {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#simpleSide ul li a span {
  font-size: small;
  color: var(--dark_grey);
}

/* ---------------wideSide--------------- */
#wideSide {
  display: none;
  background-color: #fff;
  overflow-y: hidden;
  position: fixed;
  left: 0;
  float: left;
  padding-top: 5px;
  height: calc(100% - 50px);
}

#wideSide.open {
  display: block;
}

#wideSide ul li a {
  display: block;
  padding: var(--bs) var(--lg);
}

#wideSide ul li a span {
  padding-left: var(--bs);
}

#wideSide p {
  padding-left: 30px;
}

#wideSide:hover {
  overflow-y: scroll;
}

/* ---------------contents---------------*/

.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 80px;
  margin-top: 50px;
}

.contents.open {
  margin-left: 210px;
}

.contents img,
.contents iframe {
  margin: var(--bs);
  flex: 1 2 40px;
}

/* @media screen and (min-width: 1320px) {
  #simpleSide {
    display: none;
  }
}

@media screen and (min-width: 800px) and (max-width: 1320px) {
  #wideSide {
    display: none;
  }

  .contents img,
  iframe {
    width: 33%;
    padding: 0.625rem 1%;
  }
}

@media screen and (max-width: 800px) {
  #simpleSide {
    display: none;
  }

  #wideSide {
    display: none;
  }

  .contents img,
  iframe {
    width: 50%;
    padding: 0.625rem 1%;
  }
}

input {
  min-width: 40vw;
}

#login {
  width: 20px;
  height: 20px;
  border-radius: 50%;
} */
