{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Youtube Clone</title>

  <link rel="stylesheet" href="{% static 'main.css' %}">
  <script src="https://kit.fontawesome.com/346ffdca62.js" crossorigin="anonymous"></script>

</head>
<body>
  <div class="wrap">
    <header>
      <ul>
        <li>
          <button><i class="fas fa-bars fs-4" id="menu" role="button"></i></button>
        </li>
        <li class="logo">
          <a href=""><i class="fab fa-youtube withText"></i><span>YouTube</span><sup>KR</sup></a>
        </li>
      </ul>
      <ul class="search">
        <li>
          <input type="search" placeholder="검색">
          <button><i class="fas fa-search" title="검색"></i></button>
        </li>
        <li>
        </li>
        <li>
          <button><i class="fas fa-microphone text-secondary" title="음성으로 검색"></i></button>
        </li>
      </ul>
      <ul>
        <li>
          <button class="nav_btn"><i class="fas fa-th fs-4" title="YouTube 앱"></i></button>
        </li>
        <li>
          <button class="nav_btn"><i class="fas fa-bell fs-4" title="알림"></i></button>
        </li>
        <li>
          {% if user.is_authenticated %}
          <a href="{% url 'common:logout' %}"><img src="{% static '1.PNG' %}" alt="" id="login"><span>로그아웃</span></a>
          {% else %}
          <a href="{% url 'common:login' %}"><i class="fas fa-user-circle fs-4"></i><span>로그인</span></a>
          {% endif %}
        </li>
      </ul>
    </header>

    <div id="simpleSide">
      <ul>
        <li><a href="{% url 'video:storageBox' %}"><i class="fas fa-home"></i><span>홈</span></a></li>
        <li><a href=""><i class="fas fa-compass"></i><span>탐색</span></a></li>
        <li><a href=""><i class="fas fa-archive"></i><span>구독</span></a></li>
        <li><a href="{% url 'base:explore' %}"><i class="fas fa-archive"></i><span>보관함</span></a></li>
      </ul>
    </div>

    <div id="wideSide">
      <ul>
        <ul>
          <li class="home">
            <a href="{% url 'video:storageBox' %}"><i class="fas fa-home"></i><span>홈</span></a>
          </li>
          <li>
            <a href="{% url 'base:explore' %}"><i class="fas fa-compass"></i><span>탐색</span></a>
          </li>
          <li>
            <a href=""><i class="fas fa-archive"></i><span>구독</span></a>
          </li>
        </ul>
        <hr/>
        <ul>
          <li>
            <a href=""><i class="fas fa-archive"></i><span>보관함</span></a>
          </li>
          <li>
            <a href="{% url 'video:list' %}" ><i class="far fa-clock"></i><span>시청 기록</span></a>
          </li>
          <li>
            <a href="" ><i class="far fa-play-circle"></i><span>내 동영상</span></a>
          </li>
          <li>
            <a href="" ><i class="fas fa-clock"></i><span>나중에 볼 동영상</span></a>
          </li>
          <li>
            <a href="" ><i class="fas fa-chevron-down"></i><span>더 보기</span></a>
          </li>
        </ul>
        <hr/>
        <p>구독</p>
        <ul>
          <li>
            <a href="" ><i class="fas fa-circle"></i><span>구독 1</span></a>
          </li>
          <li>
            <a href="" ><i class="fas fa-circle"></i><span>구독 2</span></a>
          </li>
          <li>
            <a href="" ><i class="fas fa-circle"></i><span>구독 3</span></a>
          </li>
          <li>
            <a href="" ><i class="fas fa-circle"></i><span>구독 4</span></a>
          </li>
          <li>
            <a href="" ><i class="fas fa-circle"></i><span>구독 5</span></a>
          </li>
          <li>
            <a href="" ><i class="fas fa-circle"></i><span>구독 6</span></a>
          </li>
          <li>
            <a href="" ><i class="fas fa-circle"></i><span>구독 7</span></a>
          </li>
          <li>
            <a href="" ><i class="fas fa-chevron-down"></i><span>n개 더 보기</span></a>
          </li>
        </ul>
        <hr/>
        <ul>
          <li >
            Youtube 더보기
          </li>
          <li>Youtube Premium</li>
          <li>영화</li>
          <li>게임</li>
          <li>실시간</li>
          <li>학습</li>
          <li>스포츠</li>
        </ul>
      </ul>
    </div>
  {% block content %}
  {% endblock %}
  </div>
  <script src="{% static 'side.js' %}"></script>
</body>
</html>
